<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Target profile options. => | HiDef | Reach |-->
    <add key="TargetProfile" value="HiDef" />
    <!--Compress output options. => | true | false |-->
    <add key="CompressOutput" value="false" />
    <!--Full path to input folder. Default => | default |-->
    <add key="InputDirectory" value="D:\Development\AnomalyReborn\Anomalies\Assets\Effects" />
    <!--Full path to intermediate folder. Default => | default |-->
    <!--Note: This in unimportant.-->
    <add key="IntermediateDirectory" value="default" />
    <!--Should files be rebuilt if an xnb already exists. => | true | false |-->
    <!--Warning: If this is disabled content will not be rebuilt even if the xnb is out-of-date-->
    <add key="RebuildAll" value="true" />
    <!--Should this wait for input when a error occurs, if CloseImmediately is true the program immediately closes on error, else it starts the normal timer. => | true | false |-->
    <add key="WaitForInputOnError" value="true" />
    <!--Should the output be shader bytecode (.fxc file) instead of compiling it into a xnb. Default => | false |-->
    <add key="OutputEffectBytecode" value="false" />
    <!--The file extension for the output file type, the default for some is xnc since terraria prevents the loading of most .xnb files-->
    <!--Note: Include the period-->
    <add key="EffectExtension" value=".xnb" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>